.card-main{
    margin: 0.5rem;
    padding: 0.5rem;
}

.card-header{
    margin: 0.5rem;
    padding: 0.5rem;
}

.card-content{
    margin: 0.5rem;
    padding: 0.5rem;
}

.card-footer{
    margin: 0.5rem;
    padding: 0.5rem
}