.body {
    background-color: #fcbc34;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 1.42857143;
    overflow-x: hidden;
    background-image: url("/themeres/honeycomb.jpg");
    background-repeat: repeat;
    background-size: 25%;
    -webkit-background-size: 25%;
    -moz-background-size: 25%;
    -o-background-size: 25%;
    background-attachment: fixed;
}